@model IEnumerable<AppDev_Na.Models.Course>
@{
    ViewBag.Title = "Course";
    Layout = "_Layout";
}

<div class="p-4 border rounded bg-white">
    <div class="row">
            <div class="col-6">
                <h2 class="text-primary">List of Courses </h2>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary" asp-controller="Courses" asp-action="Upsert">&nbsp;Create a Course</a>
            </div>
        </div>
    
    <div >
        <form class="form-inline my-2 my-lg-0 float-right">
            <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </div>
    <br/>
    <br/>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Course Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tblData">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Category.Name</td>
                    <td>
                        <a asp-controller="Courses" asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-default btn-info">Edit</a> 
                        <a asp-controller="Courses" onclick="return confirm('Are you sure about that ?')" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tblData tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}